---
const navItems = [
	{
		title: 'Inicio',
		label: 'inicio',
		url: '/'
	},
	{
		title: 'Proyectos',
		label: 'proyectos',
		url: '/#proyectos'
	},
	{
		title: 'Experiencia',
		label: 'experiencia',
		url: '/#experiencia'
	},
	{
		title: 'Blog',
		label: 'blog',
		url: '/blog'
	},
	{
		title: 'Contacto',
		label: 'contacto',
		url: '/#contacto'
	}
]
---

<header
	class='sticky top-0 z-20 mx-auto flex w-full items-center justify-between py-5 text-lg text-gray-50 lg:w-[745px] lg:rounded-md lg:border lg:border-white lg:backdrop-blur-sm'
>
	<div class='flex flex-1 items-center justify-center'>
		<nav class='space-x-7'>
			{
				navItems.map((link) => (
					<a
						href={link.url}
						aria-label={link.label}
						class='hidden transition duration-500 ease-in-out hover:text-blue-600 lg:inline'
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>

	<!-- Botón del menú hamburguesa -->
	<button
		id='menu-button'
		aria-label='Icono Menu'
		class='mx-4 block rounded-md border border-white bg-transparent/50 p-2 backdrop-blur-sm focus:outline-none lg:hidden'
	>
		<svg
			id='menu-icon'
			class='h-8 w-8 text-white'
			fill='none'
			stroke='currentColor'
			viewBox='0 0 24 24'
			xmlns='http://www.w3.org/2000/svg'
		>
			<path
				id='menu-icon-bars'
				stroke-linecap='round'
				stroke-linejoin='round'
				stroke-width='2'
				d='M4 6h16M4 12h16m-7 6h7'></path>
			<path
				id='menu-icon-close'
				class='hidden'
				stroke-linecap='round'
				stroke-linejoin='round'
				stroke-width='2'
				d='M6 18L18 6M6 6l12 12'></path>
		</svg>
	</button>
</header>

<!-- Menú modal -->
<div
	id='menu-modal'
	class='fixed inset-0 z-50 hidden flex-col items-center justify-center space-y-7 bg-black bg-opacity-90 text-gray-50'
>
	{
		navItems.map((link) => (
			<a href={link.url} aria-label={link.label} class='text-2xl hover:text-blue-600'>
				{link.title}
			</a>
		))
	}
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const menuButton = document.getElementById('menu-button')
		const menuIconBars = document.getElementById('menu-icon-bars')
		const menuIconClose = document.getElementById('menu-icon-close')
		const menuModal = document.getElementById('menu-modal')

		menuButton.addEventListener('click', function () {
			menuModal.classList.toggle('hidden')
			menuModal.classList.toggle('flex')

			// Cambiar icono del menú
			menuIconBars.classList.toggle('hidden')
			menuIconClose.classList.toggle('hidden')
		})

		menuModal.addEventListener('click', function () {
			menuModal.classList.add('hidden')
			menuModal.classList.remove('flex')

			// Restaurar icono del menú
			menuIconBars.classList.remove('hidden')
			menuIconClose.classList.add('hidden')
		})
	})
</script>
